body{
  margin: 0;
  padding: 0;
  background: url('../week-3-forms-dseydahmetova/icons/cover4.jpg') no-repeat center;
  	background-size: cover;
}

img {
  width: 30;
  height: 24;
}

.fix-rounded-right {
  border-top-right-radius: .2rem !important;
  border-bottom-right-radius: .2rem !important;
}